<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Quantidade</th>
      <th>Opção</th>
		</tr>
	</thead>
	<tbody>
		<% @productsByName.each do |product| %>
		<tr>
			<td> <%= product.name %> </td>
			<td> <%= product.description %></td>
			<td> <%= product.quantity %></td>
			<td> <%= product.price %></td>
      <td>
        <%= link_to "Remover", product, method: :delete %>
      </td>
		</tr>
		<% end %>
	</tbody>
</table>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Quantidade</th>
		</tr>
	</thead>
	<tbody>
		<% @productsByPrice.each do |product| %>
		<tr>
			<td> <%= product.name %> </td>
			<td> <%= product.description %></td>
			<td> <%= product.quantity %></td>
			<td> <%= product.price %></td>
		</tr>
		<% end %>
	</tbody>
</table>
