<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th>Opção</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td> <%= product.name %> </td>
        <td> <%= product.description %></td>
        <td> <%= product.quantity %></td>
        <td> <%= product.price %></td>
        <td>
          <%= button_to "Remover", product, method: :delete, class: "btn btn-danger",
                        data: { confirm: "Tem certeza que deseja remover o produto: #{product.name}?"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>